@page "/createWorkout"
@inject WorkoutService Service;
@inject NavigationManager NavigationManager;


<AuthorizeView Roles="Member,Trainer,Admin">
    <Authorized>
        <h1>Create workout</h1>
        <div>
            <label>Name:</label>
            <input type="text" @bind="@_workoutDto.Name"></input>
            <label>Description:</label>
            <input type="text" @bind="@_workoutDto.Description"></input>
            <IsPublicOption _selectedValue="IsPublic" />
            <button @onclick="@CreateWorkoutAsync">Create</button>
        </div>
    </Authorized>
    <!------------------->
    <NotAuthorized>
        <Login url="/createWorkout" />
    </NotAuthorized>
</AuthorizeView>

@code {
    bool IsPublic;
    WorkoutDTO _workoutDto = new WorkoutDTO();

    async Task CreateWorkoutAsync()
    {
        _workoutDto.IsPublic = IsPublic;
        await Service.CreateWorkout(_workoutDto);
        NavigationManager.NavigateTo("/workouts");
    }
}