@page "/login"
@inject MemberService memberService;

<div>
    <h3>Login</h3>
    <div class="form-group field">
        <label>User Name:</label>
        <input type="text" @bind="username" @bind:event="oninput" />

        <label>Password:</label>
        <input type="password" @bind="password" @bind:event="oninput">
        @if (!string.IsNullOrEmpty(resultmsg))
        {
            <label style="color: @colour">@resultmsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="LoginMemberAsync"
            disabled="@(string.IsNullOrEmpty(username) && string.IsNullOrEmpty(password))"
            class="acceptbtn">Login</button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string resultmsg = "";
    private string colour = "";

    private async Task LoginMemberAsync()
    {
        resultmsg = "";

        try
        {
            var member = new MemberDTO
            {
                Username = username,
                Password = password
            };
            await memberService.LoginMember(member);
            username = "";
            password = "";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultmsg = e.Message;
            colour = "red";
        }
    }
}