<AuthorizeView Roles="Trainer,Admin">
    <Authorized>

        <label>Public or Private workout:</label>

        <input type="radio" id="private" @onchange="() => _selectedValue = true" @onclick="@SelectedOption">

    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public bool _selectedValue { get; set; }
    [Parameter]
    public EventCallback<bool> _selectedValueChanged { get; set; }

    Task SelectedOption()
    {
        return _selectedValueChanged.InvokeAsync(_selectedValue);
    }
}